{{!-- 餐廳清單局部樣版內容 --}}
<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<!-- restaurant list -->
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-4">
      <div class="operate">
        <form action="/create" method="GET">
          <button class="btn btn-success" type="submit">新增餐廳</button>
        </form>
      </div>
    </div>
    <div class="col-7">
      <form action="/sort" method="GET">
        <select class="form-control" name="sort" id="sort" onchange="this.form.submit()"
          style="cursor: pointer; text-align: center;">
          <option>排序方式</option>
          <option value="name_asc" {{#ifEquals sort "name_asc" }} selected {{/ifEquals}}>A->Z</option>
          <option value="name_desc" {{#ifEquals sort "name_desc" }} selected {{/ifEquals}}>Z->A</option>
          <option value="category" {{#ifEquals sort "category" }} selected {{/ifEquals}}>餐廳類型</option>
          <option value="location" {{#ifEquals sort "location" }} selected {{/ifEquals}}>地區</option>
        </select>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurant}}

        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
        </a>
        <div>
          <span class="badge badge-pill badge-info font-weight-normal">
            {{this.rating}}
            <i class="fas fa-star fa-xs"></i>
          </span>
          <a href="/restaurants/{{this._id}}/edit"><span
              class="badge badge-pill badge-success font-weight-normal">修改</span></a>
          <button type="button" data-toggle="modal" data-target="#delete-modal-{{this._id}}"
            style="background: transparent; border:none; padding: 0px; outline: none; cursor: pointer"><span
              class="badge badge-pill badge-danger font-weight-normal">X</span>
          </button>
        </div>
      </div>
    </div>




    {{/each}}
  </div>
</div>
</div>
</div>

{{!-- delete modal --}}
{{#each restaurant}}
<div class="modal fade" id="delete-modal-{{this._id}}" data-backdrop="static" tabindex="-1" data-keyboard="false"
  aria-labelledby="delete-modal-{{this._id}}-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        要刪除 <strong>{{this.name}}</strong> 嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
        <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}